@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
img {
    border: 0;
}
:focus {
    outline: 0;
}
.clear {
    clear: both;
}
html,body {
	height: 100%;
	font-family: Graphik, sans-serif
	;
}
body {
	font-family: 'Graphik';
	font-weight:400;
	display: flex;
}
@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-Light.woff2') format('woff2'),
        url('fonts/Graphik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-Medium.woff2') format('woff2'),
        url('fonts/Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-Regular.woff2') format('woff2'),
        url('fonts/Graphik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.sidebar {
	width: 252px;
	background-color:#001d3d;
	display: flex;
	flex-direction: column;
}
.content {
	flex:1;
}
.sidebar .logo a {
	display: block;  
}
.sidebar .logo a img {
	width: 100px;
	height: 100px;
	border-radius: 10%;
	background-color: #001d3d;
	border-color: black;
	border-width: 0px;
	border-style: hidden 1px red;
}


.sidebar .logo {
	padding: 40px 0 65px 40px;
}
.sidebar .Menu ul li a {
	display: block;
	height: 48px;
	line-height: 48px;
	padding: 0 40px;
	font-size: 14px;
	color:rgba(255,255,255,.6);
}
.sidebar .Menu ul li a:hover {
	color:#fff;
	transform:scale(1.02);
	transition: 300ms transform;
}
.sidebar .Menu ul li a.active {
	color:white;
	background:linear-gradient(to left,transparent,rgba(255,255,255,.08));
	text-shadow: 2px 5px 4px rgba(0,0,0,.5);
}
.sidebar .altside {
	display: flex;
	margin-top:auto;
	padding-Bottom:20px;
	padding-left:20px;
}
.sidebar .altside a {
	display: flex;
	padding:10px;
}
.sidebar .altside a i {
	color:white;
}
.sidebar .altside a p {
	padding-left:5px;
	color:#fff;
}
.sidebar .altside a:hover {
	transform:scale(1.04);
}
/*Content side */

 .content .middle-bar {
	 padding:32px 65px;
 }
 .content .right-bar {

	width: 100%;
	background-color: #0b2545;
	height: 40%;
 }

 .content .right-bar .center-pos-container {

	background-color: #8F94B8;

 }

 .content .middle-bar .search-box {
	 display: inline;
	 margin-bottom:60px;
 }
 .content .middle-bar .search-box input {
	 width:340px;
	 height:44px;
	 border-radius:12px;
	 background-color:rgba(202,206,231,.14);
	 font-size:14px;
	 padding-left:40px;
 }
 .content .middle-bar .search-box input::placeholder {
	 color:#8F94B8;
 }

 .content .middle-bar .search-box label {
	 position: absolute;
	 display:flex;
	 align-items: center;
	 justify-content: center;
	 top:0;
	 left:0;
	 width:44px;
	 height:44px;

 }

 /* title - about me page*/

 :root {
	--back-color: #0d1b2a;
	--font-color: #e0e1dd;
	--back-prim-color : #000814;
 }

 /* fonts */
 @font-face {
    font-family: 'name-';
    src: url('fonts/Jaro-Regular-VariableFont_opsz.ttf') format('truetype'),
        url('fonts/Jaro-Regular-VariableFont_opsz.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.content .middle-bar .main-pic {

	display:inline-flex;
	float: left;
	width: 80%;
	height: 80%;
}

.content .middle-bar .title-bar {
	width: 100%;
	height: 20%;

}

.content .middle-bar .main-pic img {

	border: 2px solid wheat;
	border-radius: 20%;
	display: flex;
	justify-content: center;
	width: 30%;
	height: 60%;
	padding: 3%;
}

.content .middle-bar .main-pic ul {
	margin-top: 100px;
}

.content .middle-bar .main-pic ul li {

	display: flex;
	float: left;

}

.content .middle-bar .main-pic ul li img {
	width: 20px;
	height: 20px;
}

.content .middle-bar .main-pic ul li p {

	width: auto;
	height: auto;
	padding-top: 20px;
}

.content .top-content {

	display: block;
	justify-content: center;
	width: 100%;
	height: 80%;

}

body {
	background-color: var(--back-prim-color);
}

.content .middle-bar {
	width: 100%;
	height: 80%;

}

 .content .middle-bar .title {

	font-family: "name-";
	font-weight: 500;
	font-size: 56px;
	color: var(--font-color);
	padding: 10px;

}

.content .middle-bar p {

	font-size: larger;
	color: var(--font-color);
	padding: 5px;
}

.content .bottom-content {

	display: flex;
	margin-left:20%;
	margin-right: 20%;
	background-color: var(--back-color);
	width: 50%;
	height: 17%;
	justify-content: center;
	border-radius: 50px;
	position: fixed;
}

.content .bottom-content .menu-links {
	
	border-radius: 50px;
	display: flex;
	float: left;
	padding: 20px;
	margin: 10px;
}

.content .bottom-content .menu-links ul {

	display: flex;
	float:left;
}

.content .bottom-content .menu-links ul li {

	display: block;
	padding: 20px;

}

.content .bottom-content .menu-links ul li a img {

	width: 100px;
	height: 100px;
	transition: transform 200ms ease;
}

.content .bottom-content .menu-links ul li a img:hover {

	transform: scale(1.1);

}




